h1{
    color:white;    
    }
    *{
    border: solid;    
    }  


    .Box1{
        
        background-color: cadetblue;
        display:flex;
        justify-content: space-between;

    }
  

    .grid {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
            } 
